
{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Inscription</h1>
{{ form_start(form) }}

{{ form_row(form.nom) }}
{{ form_row(form.prenom) }}
{{ form_row(form.adresse) }}
{{ form_row(form.email) }}
{{ form_row(form.password) }}
{{ form_row(form.solde,{'attr':{'placeholder': 'Work In Progress'}}) }}

{#
#}
<button type ="submit" class="btn btn-primary"> Inscription </button>


{{ form_end(form) }}

{% endblock %}